body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgba(7, 23, 165, 0.541);
}

.header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 95%;
  padding: 2.5%;
  height: 40px;
  z-index: 1;
}

.link-wrapper a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.link-wrapper a:hover {
  color: red;
}

#hero-section {
  position: relative;
  width: 100%;
}

#hero-section video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.hero-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.432);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image-overlay h1 {
  color: white;
  font-size: 30px;
}

.hero-image-overlay a {
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border: 3px solid white;
  font-size: 20px;
  border-radius: 15px;
}

.hero-image-overlay a:hover {
  background-color: rgba(201, 201, 201, 0.5);
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

#service-card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.service-card {
  border: 3px solid black;
  margin: 20px;
  width: 200px;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
}

#service-h1 {
  padding-top: 120px;
  text-align: center;
  font-size: 50px;
}

#about-container {
  background-color: yellow;
  height: auto;
  width: 100%;
}

#about-section {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}

#about-container h2 {
  padding-top: 120px;
  text-align: center;
  font-size: 50px;
}

.social-icons-wrapper {
  display: inline-block;
  justify-content: center;
  align-content: center;
}

.about-us-image {
  width: 50%;
  margin: 20px ;
  border: solid rgb(72, 4, 128);
  border-radius: 5px;
}

#about-paragraph {
  width: 50%;
  border: 3px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  margin: 20px;
  font-size: 25px;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(72, 4, 128);
  color: white;
  padding: 20px 25px;
  margin: 30px;
  display: block;
  letter-spacing: 2px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: inset 0 0 0 0 #fff;
  width: fit-content;
}

.button:hover {
  color: black;
  transition: 0.5s;
  box-shadow: inset 200px 0 0 0 #fff;
}
